<footer>
  <p style="margin: 0 4px; color: #282828;">Mọi chi tiết xin liên hệ:</p>
  <p style="margin: 0 4px; color: #282828;">{{customerName}}</p>
  <p style="margin: 0 4px; color: #282828;">Địa chỉ: {{address}}</p>
  <p style="margin: 0 4px; color: #282828;">Số điện thoại:
    <a href="tel:0946003423" style="display: inline-block;">{{phoneNumber}}</a>
  </p>
  <p style="margin: 0 4px; color: #282828;">Email:
    <a style="display: inline-block;">{{customerMail}}</a>
  </p>

  <div>
    <strong style="display: block; font-size: 14px; margin-top: 10px; color: #282828;">©
      {{currentYear}}
      {{customerName}}</strong>
  </div>
</footer>